# Waiting for https://github.com/stac-utils/stac-pydantic/pull/116 and 117
Authlib==1.0.1
ddbcereal==2.1.1
fastapi>=0.75.1
fsspec==2023.3.0
mangum>=0.15.0
orjson>=3.6.8
psycopg[binary,pool]>=3.0.15
pydantic_ssm_settings>=0.2.0
pydantic>=1.9.0
pypgstac==0.7.4
python-multipart==0.0.5
requests>=2.27.1
s3fs==2023.3.0
stac-pydantic @ git+https://github.com/ividito/stac-pydantic.git@3f4cb381c85749bb4b15d1181179057ec0f51a94
xarray==2023.1.0
xstac==1.1.0
zarr==2.13.6
boto3==1.24.59
